html, body{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
}
.glass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#root{
  width: 100%;
  min-height: 100vh;
  background-image: url(assets/layered-steps-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle-bg{
  --s: 76px; /* control the size */
        --c: #1a144a;
        --_g: conic-gradient(var(--c) 25%,#0000 0) 0 0;
        background:
          var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),
          var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),
          repeating-conic-gradient(#0000 0 25%,var(--c) 0 50%) 
           var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),
          radial-gradient(50% 50%,#2eb044 98%,var(--c)) 
           0 0/var(--s) var(--s);
}
.carousel-image{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-radius: 1rem;
  aspect-ratio: 1;
}
.carousel-bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-text{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}